<div class="container mt-5 text-center">
    <h2 class="text-danger">Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <a class="btn btn-primary" href="/Task/Index">Go Back</a>
</div>
